@{
	ViewData["Title"] = "Редактировать пользователя";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@model Dotnet.ViewModels.EditUserViewModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Приложение</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-gear-wide-connected mr-2"></i>Настройки приложения
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-arrow-repeat mr-2"></i>Резервное копирование
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-card-list mr-2"></i>Сводка
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Пользователи</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="" asp-action="">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить пользователя
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-person-lines-fill mr-2"></i>Список пользователей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Преподаватели</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить преподавателя	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-person-lines-fill mr-2"></i>Список преподавателей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные группы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить группу или подгруппу	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список групп
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список подгрупп
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные предметы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить учебный предмет	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список учебных предметов
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Специальности</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить специальность	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список специальностей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Формы обучения</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить форму обучения	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список форм обучения
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Виды работ</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить вид работы
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список видов работ
		</a>
	</ul>
</div>
<div class="col-sm-8">
	<div class="shadow p-3 mb-4 bg-white rounded">
		<h6 class="mt-2 mb-2">Досупные для учётных записей роли</h6>
		<ul>
			<li>admin - главный администратор;</li>
			<li>systemAdmin - системный администратор;</li>
			<li>humanResources - специалист отдела кадров;</li>
			<li>trainingDivision - специалист учебного отдела;</li>
			<li>authorArticles - автор информационных рассылок и создатеть новостных статей;</li>
			<li>teacher - преподаватель;</li>
			<li>enrolle - абитуриент;</li>
			<li>graduate - выпускник;</li>
			<li>student - студент;</li>
			<li>user - пользователь.</li>
		</ul>
	</div>
	<form asp-action="ApplyChangesUser" asp-controller="Admin" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewData["Id"] required />
			<div class="form-group">
				<label asp-for="FirstName">Имя <span>*</span></label>
				<input type="text" asp-for="FirstName" class="form-control" value=@ViewData["FirstName"] required />
				<span asp-validation-for="FirstName" />
			</div>
			<div class="form-group">
				<label asp-for="SecondName">Фамилия <span>*</span></label>
				<input type="text" asp-for="SecondName" class="form-control" value=@ViewData["SecondName"] required />
				<span asp-validation-for="SecondName" />
			</div>
			<div class="form-group">
				<label asp-for="MiddleName">Отчество</label>
				<input type="text" asp-for="MiddleName" class="form-control" value=@ViewData["MiddleName"] />
				<span asp-validation-for="MiddleName" />
			</div>
			<div class="form-group">
				<label asp-for="Email">E-Mail</label>
				<input type="text" asp-for="Email" class="form-control" value=@ViewData["Email"] />
				<span asp-validation-for="Email" />
			</div>
			<div class="form-group">
				<label asp-for="DateOfBirth">Дата рождения <span>*</span></label>
				<input type="date" asp-for="DateOfBirth" class="form-control" value=@ViewData["DateOfBirth"] required />
				<span asp-validation-for="DateOfBirth" />
			</div>
			<div class="form-group">
				<label asp-for="RoleId">Роль пользователя <span>*</span></label>
				<select class="custom-select" asp-for="RoleId">
					@foreach (var role in ViewBag.roles)
					{
						if (role.Id == (int)ViewData["RoleId"])
						{
							<option value=@role.Id selected>@role.Name</option>
						}	
						else
						{
							<option value=@role.Id>@role.Name</option>
						}					
					}
				</select>
			</div>
			<div class="alert alert-info" role="alert">
				* Поля обязательны к заполнению
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>