@{
	ViewData["Title"] = "Вход на сайт";
}

@model Dotnet.ViewModels.LoginModel
 
<h1 class="display-4 mt-4 mb-5 pt-5 pb-5">@ViewData["Title"]</h1>
 
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
	<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите имя учётной записи или E-Mail</label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
				<i class="bi bi-door-open mr-2"></i>Войти
			</button>
        </div>
    </div>
</form>

<div>
	<a asp-action="Register" asp-controller="Account">Регистрация</a>
</div>
<div>
	<a asp-action="Recovery" asp-controller="Account">Восстановление пароля</a>
</div>


