@{
	ViewData["Title"] = $"{ViewData["SecondName"]} {ViewData["FirstName"]} {ViewData["MiddleName"]} ";	
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.Profile.ProfilePageViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">
			<i class="bi bi-person-fill mr-2"></i>Мой профиль
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Logout">
			<i class="bi bi-x-square mr-2"></i>Выйти
		</a>
	</ul>
</div>
<div>
	<form asp-action="MyProfile" asp-controller="Profile" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="ProfileViewModel.FirstName">Имя <span>*</span></label>
				<input type="text" asp-for="ProfileViewModel.FirstName" class="form-control" value=@ViewData["FirstName"] required />
				<span asp-validation-for="ProfileViewModel.FirstName" />
			</div>
			<div class="form-group">
				<label asp-for="ProfileViewModel.SecondName">Фамилия <span>*</span></label>
				<input type="text" asp-for="ProfileViewModel.SecondName" class="form-control" value=@ViewData["SecondName"] required />
				<span asp-validation-for="ProfileViewModel.SecondName" />
			</div>
			<div class="form-group">
				<label asp-for="ProfileViewModel.MiddleName">Отчество</label>
				<input type="text" asp-for="ProfileViewModel.MiddleName" class="form-control" value=@ViewData["MiddleName"] />
				<span asp-validation-for="ProfileViewModel.MiddleName" />
			</div>
			<div class="form-group">
				<label asp-for="ProfileViewModel.Email">E-Mail</label>
				<input type="text" asp-for="ProfileViewModel.Email" class="form-control" value=@ViewData["Email"] />
				<span asp-validation-for="ProfileViewModel.Email" />
			</div>
			<div class="form-group">
				<label asp-for="ProfileViewModel.DateOfBirth">Дата рождения <span>*</span></label>
				<input type="date" asp-for="ProfileViewModel.DateOfBirth" class="form-control" value=@ViewData["DateOfBirth"] required />
				<span asp-validation-for="ProfileViewModel.DateOfBirth" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>	
	<form asp-action="ChangeMyPassword" asp-controller="Profile" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="EditPasswordViewModel.Password">Новый пароль <span>*</span></label>
				<input type="password" asp-for="EditPasswordViewModel.Password" class="form-control" required />
				<span asp-validation-for="EditPasswordViewModel.Password" />
			</div>
			<div class="form-group">
				<label asp-for="EditPasswordViewModel.Password2">Повторите пароль <span>*</span></label>
				<input type="password" asp-for="EditPasswordViewModel.Password2" class="form-control" required />
				<span asp-validation-for="EditPasswordViewModel.Password2" />
			</div>
			<div class="form-group">
				<button type="submit" value="Изменить пароль" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Изменить пароль
				</button>
			</div>
		</div>
	</form>
</div>