@{
	ViewData["Title"] = "Мой профиль";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Profile" asp-action="MyProfile">Мой профиль</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Уведомления</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Заказ справок</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Обратная связь</a>
	</ul>
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Сбор данных</a>	
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
	</ul>
</div>
<div class="col-sm-8">
	<p>Часть с информацией о профиле.</p>
</div>