@{
	ViewData["Title"] = "Мой профиль";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

@model Dotnet.ViewModels.ChangeMeModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Profile" asp-action="MyProfile">Мой профиль</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Уведомления</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Заказ справок</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Обратная связь</a>
	</ul>
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Profile" asp-action="MyProfile">Сбор данных</a>	
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
	</ul>
</div>
<div class="col-sm-8">
	<form asp-action="ChangeMe" asp-controller="Profile" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="Email">E-Mail</label>
				<input type="text" asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" />
			</div>
			<div class="form-group">
				<label asp-for="DateOfBirth">Дата рождения</label>
				<input type="date" asp-for="DateOfBirth" class="form-control" />
				<span asp-validation-for="DateOfBirth" />
			</div>
			<div class="form-group">
				<input type="submit" value="Жопа" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>