@{
	ViewData["Title"] = "Редактировать форму обучения";
    Layout = "~/Views/FormEducation/_FormEducationLayout.cshtml";
}

@model Dotnet.ViewModels.FormEducation.EditFormEducationViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="FormEducation" asp-action="FormsEducation">
			<i class="bi bi-clipboard-check mr-2"></i>Формы обучения
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesFormEducation" asp-controller="FormEducation" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewData["Id"] />
			<div class="form-group">
				<label asp-for="Name">Название <span>*</span></label>
				<input type="text" asp-for="Name" class="form-control" value=@ViewData["Name"] />
				<span asp-validation-for="Name" />
			</div>
			<div class="form-group">
				<label asp-for="Code">Код формы обучения</label>
				<input type="text" asp-for="Code" class="form-control" value=@ViewData["Code"] />
				<span asp-validation-for="Code" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
</div>