@{
	ViewData["Title"] = "Редактировать учебное заведение";
    Layout = "~/Views/Institution/_InstitutionLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.Institution.EditInstitutionViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Institution" asp-action="Institutions">
			<i class="bi bi-building mr-2"></i>Учебные заведения
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesInstitution" asp-controller="Institution" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewBag.institution.Id />
			<div class="form-group">
				<label asp-for="Name">Название учебного заведения <span>*</span></label>
				<input type="text" asp-for="Name" class="form-control" value=@ViewBag.institution.Name />
				<span asp-validation-for="Name" />
			</div>
			<div class="form-group">
				<label asp-for="AddressId">Адрес</label>
				<input type="text" asp-for="AddressId" class="form-control" value=@ViewBag.institution.AddressId />
				<span asp-validation-for="AddressId" />
			</div>
			<div class="form-group">
				<label asp-for="ContactInformationId">Контактная информация</label>
				<input type="text" asp-for="ContactInformationId" class="form-control" value=@ViewBag.institution.ContactInformationId />
				<span asp-validation-for="ContactInformationId" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
</div>