@{
	ViewData["Title"] = "Редактировать факультет";
    Layout = "~/Views/Faculty/_FacultyLayout.cshtml";
}

@model Dotnet.ViewModels.Faculty.EditFacultyViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Faculty" asp-action="Faculties">
			<i class="bi bi-journal-bookmark mr-2"></i>Факультеты
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesFaculty" asp-controller="Faculty" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewData["Id"] />
			<div class="form-group">
				<label asp-for="Name">Название <span>*</span></label>
				<input type="text" asp-for="Name" class="form-control" value=@ViewData["Name"] />
				<span asp-validation-for="Name" />
			</div>
			<div class="form-group">
				<label asp-for="Code">Код факульета <span>*</span></label>
				<input type="text" asp-for="Code" class="form-control" value=@ViewData["Code"] />
				<span asp-validation-for="Code" />
			</div>
			<div class="form-group">
				<label asp-for="InstitutionId">Учебное заведение <span>*</span></label>
				<select class="custom-select" asp-for="InstitutionId">
					@if (ViewBag.allInstitutions.Count > 0)
					{
						@foreach (var institution in ViewBag.allInstitutions)
						{
							@if (institution.Id == (int)ViewData["InstitutionId"])
							{
								<option value=@institution.Id selected>@institution.Id - @institution.Name</option>
							}	
							else
							{
								<option value=@institution.Id>@institution.Id - @institution.Name</option>
							}					
						}
					}	
					else
					{
						<option>Нет доступных учебных заведений</option>
					}
				</select>
			</div>
			<div class="form-group">
				<label asp-for="About">Описание</label>
				<input type="text" asp-for="About" class="form-control" value=@ViewData["About"] />
				<span asp-validation-for="About" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
</div>