@{
	ViewData["Title"] = "Редактировать пользователя";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.Account.EditUserViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
	</ul>
</div>
<div>
	<div class="shadow-sm card p-3 mb-2 bg-white rounded">
		<h6 class="mt-0">Досупные для учётных записей роли</h6>
		<ul class="mb-0">
			<li>admin - главный администратор;</li>
			<!--<li>systemAdmin - системный администратор;</li>
			<li>humanResources - специалист отдела кадров;</li>
			<li>trainingDivision - специалист учебного отдела;</li>
			<li>authorArticles - автор информационных рассылок и создатеть новостных статей;</li>-->
			<li>teacher - преподаватель;</li>
			<!--<li>enrolle - абитуриент;</li>
			<li>graduate - выпускник;</li>-->
			<li>student - студент;</li>
			<li>user - пользователь.</li>
		</ul>
	</div>
	<form asp-action="ApplyChangesUser" asp-controller="User" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewData["Id"] required />
			<div class="form-group">
				<label asp-for="FirstName">Имя <span>*</span></label>
				<input type="text" asp-for="FirstName" class="form-control" value=@ViewData["FirstName"] required />
				<span asp-validation-for="FirstName" />
			</div>
			<div class="form-group">
				<label asp-for="SecondName">Фамилия <span>*</span></label>
				<input type="text" asp-for="SecondName" class="form-control" value=@ViewData["SecondName"] required />
				<span asp-validation-for="SecondName" />
			</div>
			<div class="form-group">
				<label asp-for="MiddleName">Отчество</label>
				<input type="text" asp-for="MiddleName" class="form-control" value=@ViewData["MiddleName"] />
				<span asp-validation-for="MiddleName" />
			</div>
			<div class="form-group">
				<label asp-for="Email">E-Mail</label>
				<input type="text" asp-for="Email" class="form-control" value=@ViewData["Email"] />
				<span asp-validation-for="Email" />
			</div>
			<div class="form-group">
				<label asp-for="DateOfBirth">Дата рождения <span>*</span></label>
				<input type="date" asp-for="DateOfBirth" class="form-control" value=@ViewData["DateOfBirth"] required />
				<span asp-validation-for="DateOfBirth" />
			</div>
			<div class="form-group">
				<label asp-for="UserRole">Роль пользователя <span>*</span></label>
				<select class="custom-select" asp-for="UserRole">
					@foreach (var role in ViewBag.roles)
					{
						if (role.UserRole == (int)ViewData["UserRole"])
						{
							<option value=@role.UserRole selected>@role.Name</option>
						}	
						else
						{
							<option value=@role.UserRole>@role.Name</option>
						}					
					}
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
</div>