@{
	ViewData["Title"] = "Добавить преподавателя";	
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

@model Dotnet.ViewModels.TeacherModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<div class="list-group-item">Приложение</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-gear-wide-connected mr-2"></i>Настройки приложения
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-arrow-repeat mr-2"></i>Резервное копирование
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-card-list mr-2"></i>Сводка
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Пользователи</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="" asp-action="">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить пользователя
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Admin" asp-action="Users">
			<i class="bi bi-person-lines-fill mr-2"></i>Список пользователей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Преподаватели</div>
		<a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-person-plus-fill mr-2"></i>Добавить преподавателя	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-person-lines-fill mr-2"></i>Список преподавателей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные группы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить группу или подгруппу	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список групп
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-people mr-2"></i>Список подгрупп
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Учебные предметы</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить учебный предмет	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список учебных предметов
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Специальности</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить специальность	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список специальностей
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Формы обучения</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить форму обучения	
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список форм обучения
		</a>
	</ul>
	<ul class="list-group mb-4">
		<div class="list-group-item">Виды работ</div>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="AddTeacher">
			<i class="bi bi-plus-circle mr-2"></i>Добавить вид работы
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Teacher" asp-action="Teachers">	
			<i class="bi bi-list-ul mr-2"></i>Список видов работ
		</a>
	</ul>
</div>
<div class="col-sm-8">
	<form asp-action="CreateTeacher" asp-controller="Teacher" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<div class="form-group">
				<label asp-for="UserId">Пользователь <span>*</span></label>
				<select asp-for="UserId" class="form-control" required>
					@if (ViewBag.allUsers.Count > 0)
					{
						@foreach (var user in ViewBag.allUsers)
						{
							<option value=@user.Id>@user.Login - @user.FirstName @user.SecondName - @user.Email</option>
						}
					}
					else
					{
						<option>Нет доступных пользователей</option>	
					}
				</select>
				<span asp-validation-for="UserId" />
			</div>
			<div class="form-group">
				<label asp-for="Post">Должность</label>
				<input type="text" asp-for="Post" class="form-control" />
				<span asp-validation-for="Post" />
			</div>
			<div class="form-group">
				<label asp-for="Specialization">Специализация</label>
				<input type="text" asp-for="Specialization" class="form-control" />
				<span asp-validation-for="Specialization" />
			</div>
			<div class="form-group">
				<input type="submit" value="Добавить" class="btn btn-primary" />
			</div>
		</div>
	</form>
</div>