@{
	ViewData["Title"] = "Учебные предметы";	
    Layout = "~/Views/StudySubject/_StudySubjectLayout.cshtml";
}

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="StudySubject" asp-action="AddStudySubject">
			<i class="bi bi-plus-circle mr-2"></i>Добавить учебный предмет
		</a>
	</ul>
</div>
<div>
	@for (int i = 0; i < ViewBag.allStudySubjects.Count; i++ )
	{
		<div class="card mb-2">
			<div class="card-body overflow-auto">
				<h6 class="card-title ">@ViewBag.allStudySubjects[i].Name</h6>
				<table class="table table-hover mb-0">
					<thead>
						<tr class="text-align-top">
							<td scope="col">ID</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@ViewBag.allStudySubjects[i].Id</td>
						</tr>
					</tbody>
				</table>
				@if (User.IsInRole("admin"))
				{
					<a class="btn btn-light btn-block" asp-action="EditStudySubject" asp-route-studySubjectId="@ViewBag.allStudySubjects[i].Id">
						<i class="bi bi-pencil-square mr-2"></i>Редактировать
					</a>
				}
			</div>
		</div>
	}
</div>