@{
	ViewData["Title"] = "Редактировать вид работ";	
    Layout = "~/Views/TypeWork/_TypeWorksLayout.cshtml";
}

@model Dotnet.ViewModels.WebApp.TypeWork.EditTypeWorkViewModel

<div class="flex-grow-1">
	<ul class="list-group list-group-horizontal mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="TypeWork" asp-action="TypesWorks">
			<i class="bi bi-pen mr-2"></i>Виды работ
		</a>
	</ul>
</div>
<div>
	<form asp-action="ApplyChangesTypeWorks" asp-controller="TypeWork" asp-anti-forgery="true">
		<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show pl-3 pr-3 pt-3 pb-0" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div>
			<input type="hidden" asp-for="Id" class="form-control" value=@ViewBag.EditRow.Id />
			<div class="form-group">
				<label asp-for="Name">Название <span>*</span></label>
				<input type="text" asp-for="Name" class="form-control" value=@ViewBag.EditRow.Name />
				<span asp-validation-for="Name" />
			</div>
			<div class="form-group mb-2">
				<button type="submit" class="btn btn-primary mb-0">
					<i class="bi bi-save mr-2"></i>Сохранить изменения
				</button>
			</div>
		</div>
	</form>
	<div id="delete_confirm__modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удаление записи</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="mb-0">Вы действительно хотите безвозвратно удалить запись?</p>
				</div>
				<div class="modal-footer">
					<form asp-action="DeleteTypeWorks" asp-controller="TypeWork" asp-antiforgery="true" class="m-0 p-0">
						<input type="hidden" asp-for="Id" value=@ViewBag.EditRow.Id>
						<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
							Отмена
						</button>
						<button type="submit" class="btn btn-outline-danger">
							<i class="bi bi-trash mr-2"></i>Подтвердить
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<button id="delete_confirm__button" data-toggle="modal" data-target="#delete_confirm__modal" class="btn btn-outline-danger mt-0">
		<i class="bi bi-trash mr-2"></i>Удалить вид работы
	</button>
	<script type="text/javascript">
		$('#delete_confirm__modal').modal();
	</script>
</div>