@{
	ViewData["Title"] = "Учебные группы";
    Layout = "~/Views/StudyGroup/_StudyGroupLayout.cshtml";
}

@model Dotnet.ViewModels.StudyGroup.StudyGroupAndSubgroupViewModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Services">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="StudyGroup" asp-action="AddStudyGroup">
			<i class="bi bi-plus-circle mr-2"></i>Добавить группу или подгруппу
		</a>
	</ul>
</div>