@{
    ViewData["Title"] = "Домашняя страница";
	Layout = "~/Views/Home/_HomeLayout.cshtml";
}

@if (User.IsInRole("user"))
{
	<div class="alert alert-info w-100" role="alert">
		<p class="mb-0">Ваша учётная запись в данный момент неактивна.</p>
	</div>
}