@{
    ViewData["Title"] = "Домашняя страница";
}

<div>
    <h1 class="display-4 mt-4 mb-5 text-center">@ViewData["Title"]</h1>
	<div class="container">
		<div class="row">
			@if (User.IsInRole("user"))
			{
				<div class="alert alert-info w-100" role="alert">
					<p class="mb-0">Ваша учётная запись в данный момент неактивна.</p>
			    </div>
			}
		</div>
	</div>
</div>
