@{
    ViewData["Title"] = "Домашняя страница";
	Layout = "_Layout";
}

<div>
	<div class="container">
		@if (User.IsInRole("user"))
		{
			<div class="alert alert-info w-100" role="alert">
				<p class="mb-0">Ваша учётная запись в данный момент неактивна.</p>
			</div>
		}
		else 
		{
			<div class="mt-5">
				<div class="mt-0">
					<div class="me-round">
						@{string meChars = $"{ViewBag.me.SecondName[0]}{ViewBag.me.FirstName[0]}";}
						<p class="me-round-chars">@meChars</p>
					</div>
				</div>
				<div class="me-index">
					<p class="me-index-name">@ViewBag.me.SecondName @ViewBag.me.FirstName</p>
					<p class="me-index-aboutme">@ViewBag.aboutMe</p>
				</div>
			</div>
		}
		@if (User.IsInRole("teacher"))
		{
			<div class="service-nav-panel">
				<a asp-area="" asp-controller="Work" asp-action="AddTask" class="service-buttom">
					<div class="service-buttom-icon">
						<i class="bi bi-plus-square-fill"></i>
					</div>
					<div class="service-buttom-name">Создать задание</div>
				</a>
				<a asp-area="" asp-controller="Work" asp-action="Tasks" class="service-buttom">
					<div class="service-buttom-icon">
						<i class="bi bi-list-task"></i>
					</div>
					<div class="service-buttom-name">Задания</div>
				</a>
				<a asp-area="" asp-controller="Work" asp-action="Attachments" class="service-buttom">
					<div class="service-buttom-icon">
						<i class="bi bi-file-earmark-fill"></i>
					</div>
					<div class="service-buttom-name">Файлы</div>
				</a>
				<a asp-area="" asp-controller="Student" asp-action="Students" class="service-buttom">
					<div class="service-buttom-icon">
						<i class="bi bi-people-fill"></i>
					</div>
					<div class="service-buttom-name">Студенты</div>
				</a>
				<a class="service-buttom">
					<div class="service-buttom-icon">
						<i class="bi bi-graph-up"></i>
					</div>
					<div class="service-buttom-name">Статистика</div>
				</a>
			</div>
		}
	</div>
</div>


