@{
    ViewData["Title"] = "Сервисы";
	Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2 class="mb-5">Пользователи сервиса</h2>
<div class="row w-100">	
	<div class="col-sm">
		<a asp-area="" asp-controller="User" asp-action="Users" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-people mt-3 mb-2" viewBox="0 0 16 16">
				<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
			</svg>
			<p>Пользователи</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="" asp-action="" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить пользователя
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="Teacher" asp-action="Teachers" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-badge-fill mt-3 mb-2" viewBox="0 0 16 16">
  				<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
			</svg>
			<p>Преподаватели</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="Teacher" asp-action="AddTeacher" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить преподавателя
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="StudyGroup" asp-action="StudyGroups" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-lines-fill mt-3 mb-2" viewBox="0 0 16 16">
  				<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
			</svg>
			<p>Учебные группы</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="StudyGroup" asp-action="AddStudyGroup" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить учебную группу
			</a>
		</div>
	</div>
</div>
<h2 class="mt-5 mb-5">Учебные заведения, факультеты</h2>
<div class="row w-100">
	<div class="col-sm">
		<a asp-area="" asp-controller="Institution" asp-action="Institutions" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building mt-3 mb-2" viewBox="0 0 16 16">
  				<path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
  				<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
			</svg>
			<p>Учебные заведения</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="Institution" asp-action="AddInstitution" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить учебное заведение
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="Faculty" asp-action="Faculties" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-journal-bookmark mt-3 mb-2" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"/>
				<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
				<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
			</svg>
			<p>Факультеты</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="Faculty" asp-action="AddFaculty" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить факультет
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="Specialty" asp-action="Specialties" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-lightbulb mt-3 mb-2" viewBox="0 0 16 16">
  				<path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
			</svg>
			<p>Специальности</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="Specialty" asp-action="AddSpecialty" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить специальность
			</a>
		</div>
	</div>
</div>
<h2 class="mt-5 mb-5">Процесс обучения</h2>
<div class="row w-100">
	<div class="col-sm">
		<a asp-area="" asp-controller="FormEducation" asp-action="FormsEducation" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard-check mt-3 mb-2" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
				<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
				<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
			</svg>
			<p>Формы обучения</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="FormEducation" asp-action="AddFormEducation" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить форму обучения
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="StudySubject" asp-action="StudySubjects" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-collection-fill mt-3 mb-2" viewBox="0 0 16 16">
  				<path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
			</svg>
			<p>Учебные предметы</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="StudySubject" asp-action="AddStudySubject" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить учебный предмет
			</a>
		</div>
	</div>
	<div class="col-sm">
		<a asp-area="" asp-controller="TypeWork" asp-action="TypesWorks" class="btn btn-light w-100 mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pen mt-3 mb-2" viewBox="0 0 16 16">
				<path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
			</svg>
			<p>Виды работ</p>
		</a>
		<div class="w-100 mb-2 d-flex">
			<a asp-area="" asp-controller="TypeWork" asp-action="AddTypeWorks" class="btn btn-light flex-fill">
				<i class="bi bi-plus-circle mr-2"></i>Добавить вид работ
			</a>
		</div>
	</div>
</div>

