@{
	ViewData["Title"] = "Добавить задание";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

@model Dotnet.ViewModels.TeacherModel

<div class="col-sm-4">
	<ul class="list-group mb-4">
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Index">
			<i class="bi bi-back mr-2"></i>Назад
		</a>
		<a class="list-group-item list-group-item-action" asp-area="" asp-controller="Work" asp-action="Works">
			<i class="bi bi-list-task mr-2"></i>Задания
		</a>
	</ul>
</div>
<div class="col-sm-8">

</div>