@{
	ViewData["Title"] = "Добавить работу";	
    Layout = "~/Views/Work/_WorkLayout.cshtml";
}

@* <nav class="w-100 bg-white" aria-label="breadcrumb">
	<ol class="breadcrumb bg-light">
    	<li class="breadcrumb-item"><a href="#">Домашняя страница</a></li>	
    	<li class="breadcrumb-item"><a href="#">Работы</a></li>	
   		<li class="breadcrumb-item active" aria-current="page">Добавить работу</li>
	</ol>
</nav> *@
<div>
	
</div>